<bun-form></bun-form>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <th>Kind of bun</th>
        <th>Current price</th>
        <th>Original price</th>
        <th>Next price</th>
        <th>Time until price change</th>
    </thead>
    <tbody>
        <tr *ngFor="let bun of buns">
            <td>{{MapBunTypeToHumanReadable(bun.bunType)}}</td>
            <td>{{bun.currentPrice}}</td>
            <td>{{bun.originalPrice}}</td>
            <td>WIP</td>
            <td>WIP</td>
        </tr>
    </tbody>
</table>